@import '~vuetify/src/styles/settings/_variables';

body {
  background-color: #673ab7 !important;
}


.capitalize {
  text-transform: capitalize;
}

.w-100 {
  width: 100%;
}


.sticky {
  position: sticky !important;
  top: 0  !important;
  z-index: 2;
}

.sticky-box {
  position: sticky !important;
  top: 80px;
  z-index: 2;
}

.sticky-sm {
  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    position: sticky !important;
    top: 80px;
    z-index: 2;
  }
}

.sticky-md {
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    position: sticky !important;
    top: 80px;
    z-index: 2;
  }
}

.blur {
  filter: blur(4px) grayscale(1);
}

.v-card__title,
.v-card__subtitle {
  word-break: break-word !important;
}
